[package]
name = "trait-rpc-macros"
version.workspace = true
edition.workspace = true

[lints]
workspace = true

[lib]
proc-macro = true

[dependencies]
macros-impl = { package = "trait-rpc-macros-impl", path = "../macros_impl" }
syn = "2.0.111"
quote = "1.0.42"